<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="iOSDC 2018 のプロポーザル（CfP）の一覧の閲覧・検索ができるサービスです。" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>この素晴らしいCfPに祝福を！ - iOSDC 2018 応援サイト / プロポーザル（CfP）一覧の閲覧・検索</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <style type="text/css">
    body {
        font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
    .section {
        padding: 1.0rem 1.5rem;
    }
    span.tag.cfp_adopted {
        color: #ffffff;
        background-color: #f44336;
    }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122724032-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122724032-1');
    </script>
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    この素晴らしいCfPに祝福を！
                </h1>
                <h2 class="subtitle">
                    iOSDC 2018 応援サイト / プロポーザル（CfP）一覧の閲覧・検索
                </h2>
            </div>
        </div>
    </section>    
    <div class="container">
        <div class="section is-small">
            <div id="searchCondition" class="field is-grouped">
                <!-- キーワード検索 -->
                <div class="control field is-horizontal">
                    <p class="control has-icons-left">
                        <input v-model="searchWord" class="input" type="text" placeholder="検索ワード">
                            <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
                <!-- 採択チェックボックス -->
                <label class="control checkbox">
                    <input v-model="isAdopt" type="checkbox">
                    採択されたトーク
                </label>
            </div>
        <!--
            <div class="field is-grouped">
                <p class="control">
                    <a class="button is-primary">
                        15分トーク
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        30分トーク
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        LT
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        iOSDCルーキーズ LT
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        iOSエンジニアに聞いて欲しいトーク
                    </a>
                </p>
            </div>
        -->
            <a href="http://b.hatena.ne.jp/entry/iosdc-cfps.penginmura.tech/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </div>
        <!-- プロポーザル一覧 -->
        <div id="proposals">
            <template v-show="isLoaded">
                <!-- https://bulma.io/documentation/components/card/ -->
                <div v-for="proposal in proposals">
                    <section class="section is-small">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img v-show="isLoaded" :src="proposal.icon_url" @load="loaded" alt="">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">
                                            <span v-show="proposal.is_adopted" class="tag cfp_adopted">採択</span>
                                            <a :href="proposal.detail_url" target="_blank">{{ proposal.title }}</a>
                                        </p>
                                        <p class="subtitle is-6">{{ proposal.user }} / <a :href="'https://twitter.com/' +  proposal.twitter_id">@{{ proposal.twitter_id }}</a></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p v-html="proposal.description.replace(/\r\n/g,'<br/>')"></p>
                                </div>
                                <span class="small">{{ proposal.talk_type }}</span>
                            </div>
                        </div>
                    </section>
                </div>
            </template>
            <template v-if="isLoaded === false">
                <section class="section is-small">
                    <div class="icon">
                        <i class="fas fa-spinner fa-pulse fa-2x"></i>
                    </div>
                    <p class="is-large">Now loading ...</p>
                </section>
            </template>   
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Powerd</strong> by <a href="http://blog.penginmura.tech/">ペンギン村 Tech</a>.
            </p>
            <p>
                ペンギン村 Tech is believe in  <a href="https://iosdc.jp/2018/">iOSDC 2018</a>.
            </p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="/assets/index.js"></script>
</body>
</html>
