<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>この素晴らしいCfPに祝福を！</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <style type="text/css">
    body {
        font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
    .section {
        padding: 1.0rem 1.5rem;
    }
    </style>
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    この素晴らしいCfPに祝福を！
                </h1>
                <h2 class="subtitle">
                    iOSDC 2018 応援サイト
                </h2>
            </div>
        </div>
    </section>    
    <div class="container">
        <div class="section is-small">
        <!--
            <div class="field is-horizontal">
                <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="Title">
                        <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </p>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    <a class="button is-primary">
                        15分トーク
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        30分トーク
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        LT
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        iOSDCルーキーズ LT
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        iOSエンジニアに聞いて欲しいトーク
                    </a>
                </p>
        -->
                <a href="http://b.hatena.ne.jp/entry/iosdc-cfps.penginmura.tech/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            </div>
        </div>
        <!-- プロポーザル一覧 -->
        <div id="proposals">
            <template v-show="isLoad">
                <!-- https://bulma.io/documentation/components/card/ -->
                <div v-for="proposal in proposals">
                    <section class="section is-small">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img v-show="isLoad" :src="proposal.icon_url" @load="loaded" alt="">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">{{ proposal.title }}</p>
                                        <p class="subtitle is-6">{{ proposal.user }} / <a :href="'https://twitter.com/' +  proposal.twitter_id">@{{ proposal.twitter_id }}</a></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p v-html="proposal.description.replace(/\r\n/g,'<br/>')"></p>
                                </div>
                                <span class="small">{{ proposal.talk_type }}</span>
                            </div>
                        </div>
                    </section>
                </div>
            </template>
            <template v-if="isLoad === false">
                <section class="section is-small">
                    <div class="icon">
                        <i class="fas fa-spinner fa-pulse fa-2x"></i>
                    </div>
                    <p class="is-large">Now loading ...</p>
                </section>
            </template>   
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Powerd</strong> by <a href="http://blog.penginmura.tech/">ペンギン村 Tech</a>.
            </p>
            <p>
                ペンギン村 Tech is believe in  <a href="https://iosdc.jp/2018/">iOSDC 2018</a>.
            </p>
        </div>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var proposalsInstance = new Vue({
            el: '#proposals',
            data: {
                proposals: [],
                isLoad: false
            },
            methods: {
                loaded: function(event) {
                    this.isLoad = true
                }
            }
        })
        axios.get('/api')
        .then(function (response) {
            var proposals = [];
            response.data.forEach(function (pros) {
                var found = proposals.find(function (element) {
                    return element.user == pros.user && element.title == pros.title && element.description == pros.description;
                });
                if (found) {
                     var talk_type = found.talk_type + ' / ' + pros.talk_type;
                     found.talk_type = talk_type.split(' / ').sort().join(' / ');
                } else {
                    proposals.push(pros);
                }
            });
            proposalsInstance.proposals = proposals;
        })
    </script>
</body>
</html>
